.hero-background {
  background-image: url(../../assets/hero-image.png);
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.bg-bluesky {
  background-image: url(../../assets/bg-bluesky.png);
  background-size: contain;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.footer {
  background-color: #778f9c;
  padding: 50px 0;
  color: #fff;
}

.bg2-blusky {
  background-color: #bdd2de;
}

.our-values {
  background-image: url(../../assets/blubs3.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 525px;
}

.our-teams {
  margin-bottom: 300px;
}

.card {
  transition: 0.3s;
  height: 2vh;
  /* font-size: 15px; */
  font-size: small;
  /* width: 1px; */
}

.card:hover {
  transform: scale(1.1);
}
.font-yesevaone {
  font-family: 'Yeseva One', serif;
}
.font-sen {
  font-family: 'Sen', sans-serif;
}
.manfaat {
  background-image: url(../../assets/blubs3.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
}
.btn {
  background-color: #2c3941;
  border: none;
  color: #fff;
}
.btn1 {
  background-color: #778f9c;
  border: none;
  border-radius: 10px;
}
.btn1:hover {
  background-color: #8F9FA8;
}

.btn:hover {
  background-color: #778f9c;
  color: #fff;
}
